<div class="title">
  <h1 class=>Welcome to Blogger. </h1>
  <p>We do blogs, better than blogs.<p>
</div>
<nav class="nav">
    <a class="cta-buttons" href="/">View Articles</a>
    <a class="cta-buttons" href="/about">About Us</a>
    <a class="cta-buttons" href="/create-blog">Write an Article</a>
  </nav>