<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about">
      <h1 class="page-heading">About us</h1>
      <hr />
      <p class="about-para">
        A blog is a type of website that features written content, usually in a chronological format, with entries commonly referred to as "posts." Blogging began as a personal journaling platform but has since evolved into a powerful tool for individuals, businesses, and organizations to share their ideas, opinions, and expertise on a variety of topics. Blogs can range from hobbyist diaries to professional news outlets, and they can cover a wide range of subjects, including travel, food, fashion, technology, politics, and more. Bloggers can also use various multimedia formats, such as photos, videos, and podcasts, to enhance their content and engage with their audience.
      </p>
      <hr />
    </div>
    <script src="" async defer></script>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
